DEFAULT_EMAIL=your@email.com

PLACEHOLDER_SITE_HOST=example.com
WEB_BACKEND_SITE_HOST=subdomain1.example.com

WHAT_I_KNOW__API_HOST=subdomain2.example.com
WHAT_I_KNOW__DB_HOST=what-i-know-db
WHAT_I_KNOW__DB_HOST_PORT=5432
WHAT_I_KNOW__DB_PORT=5432
WHAT_I_KNOW__DB_USER=postgres
WHAT_I_KNOW__DB_PASSWORD=postgres
WHAT_I_KNOW__DB_NAME=what_i_know
WHAT_I_KNOW__DB_SSL_MODE=enable
WHAT_I_KNOW__JWT_SECRET=change-me
WHAT_I_KNOW__HTTP_ADDRESS=8080
WHAT_I_KNOW__HTTP_API_BASE_PATH=/
WHAT_I_KNOW__HTTP_READ_TIMEOUT_SECONDS=5
WHAT_I_KNOW__HTTP_WRITE_TIMEOUT_SECONDS=10
WHAT_I_KNOW__HTTP_IDLE_TIMEOUT_SECONDS=30
WHAT_I_KNOW__HTTP_SHUTDOWN_TIMEOUT_SECONDS=10
