DEFAULT_EMAIL=your@email.com

PLACEHOLDER_SITE__HOST=example.com

TYPORACER_COMMUNITY__SITE__HOST=subdomain1.example.com
TYPORACER_COMMUNITY__DB__USER=postgres
TYPORACER_COMMUNITY__DB__PASSWORD=postgres
TYPORACER_COMMUNITY__DB__NAME=typoracer
TYPORACER_COMMUNITY__DB__SSL_MODE=disable
TYPORACER_COMMUNITY__DB__EXPORT_PORT=54321
TYPORACER_COMMUNITY__SITE__DATABASE_URL="postgresql://${TYPORACER_COMMUNITY__DB__USER}:${TYPORACER_COMMUNITY__DB__PASSWORD}@typoracer-community-db:5432/${TYPORACER_COMMUNITY__DB__NAME}?sslmode=${TYPORACER_COMMUNITY__DB__SSL_MODE}"

WHAT_I_KNOW__API__HOST=subdomain2.example.com
WHAT_I_KNOW__API__HTTP_ADDRESS=8080
WHAT_I_KNOW__API__HTTP_API_BASE_PATH=/
WHAT_I_KNOW__API__HTTP_READ_TIMEOUT_SECONDS=5
WHAT_I_KNOW__API__HTTP_WRITE_TIMEOUT_SECONDS=10
WHAT_I_KNOW__API__HTTP_IDLE_TIMEOUT_SECONDS=30
WHAT_I_KNOW__API__HTTP_SHUTDOWN_TIMEOUT_SECONDS=10
WHAT_I_KNOW__API__JWT_SECRET=change-me
WHAT_I_KNOW__DB__HOST=what-i-know-db
WHAT_I_KNOW__DB__USER=postgres
WHAT_I_KNOW__DB__PASSWORD=postgres
WHAT_I_KNOW__DB__NAME=what_i_know
WHAT_I_KNOW__DB__SSL_MODE=disable
WHAT_I_KNOW__DB__EXPORT_PORT=54322
