DEFAULT_EMAIL=your@email.com

PLACEHOLDER_SITE__HOST=example.com

TYPORACER_COMMUNITY__SITE_HOST=subdomain1.example.com
TYPORACER_COMMUNITY__DB_PORT=5432
TYPORACER_COMMUNITY__DB_USER=postgres
TYPORACER_COMMUNITY__DB_PASSWORD=postgres
TYPORACER_COMMUNITY__DB_NAME=typoracer
TYPORACER_COMMUNITY__DB_SSL_MODE=disable
TYPORACER_COMMUNITY__SITE_DB_HOST=postgresql://${TYPORACER_COMMUNITY__DB_USER}:${TYPORACER_COMMUNITY__DB_PASSWORD}@typoracer-community-db:5432/${TYPORACER_COMMUNITY__DB_NAME}?sslmode=${TYPORACER_COMMUNITY__DB_SSL_MODE}

WHAT_I_KNOW__API_HOST=subdomain2.example.com
WHAT_I_KNOW__DB_HOST=what-i-know-db
WHAT_I_KNOW__DB_HOST_PORT=5432
WHAT_I_KNOW__DB_PORT=5432
WHAT_I_KNOW__DB_USER=postgres
WHAT_I_KNOW__DB_PASSWORD=postgres
WHAT_I_KNOW__DB_NAME=what_i_know
WHAT_I_KNOW__DB_SSL_MODE=enable
WHAT_I_KNOW__JWT_SECRET=change-me
WHAT_I_KNOW__HTTP_ADDRESS=8080
WHAT_I_KNOW__HTTP_API_BASE_PATH=/
WHAT_I_KNOW__HTTP_READ_TIMEOUT_SECONDS=5
WHAT_I_KNOW__HTTP_WRITE_TIMEOUT_SECONDS=10
WHAT_I_KNOW__HTTP_IDLE_TIMEOUT_SECONDS=30
WHAT_I_KNOW__HTTP_SHUTDOWN_TIMEOUT_SECONDS=10
